
h4, h5, h6,
h1, h2, h3 {
    margin-top: 0;
}

ul, ol {
    margin: 0;
}

p {
    margin: 0;
}

html, body {
    font-family: 'Comfortaa-Regular', sans-serif;
    font-size: 100%;
    background: #dddddd;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*--banner--*/
.banner {
    background: url(../images/banner1.jpg) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1030;
}

nav.navbar.navbar-default {
    background: none;
    border: none;
    padding: 0.2em 0;
    margin: 0;
    font-family: 'Comfortaa-Light', sans-serif;
}

ul.nav.navbar-nav {
    margin: 15px 0 0;
    font-size: 1.2em;
}

a.navbar-brand {
    padding: 0;
    line-height: 1.6em;
    height: inherit;
}

.navbar-nav li {
    margin: 0 1.2em;
}

.navbar-nav li a {
    color: #fff !important;
    font-size: 1.1em;
    padding: 0;
}

.navbar-nav li a:hover, .navbar-nav li a.active, .navbar-nav li a:active, .navbar-nav li a:visited {
    color: #ff6b4a !important;
    background: none;
}

.navbar-nav a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.navbar-nav a:before {
    position: absolute;
    top: 65%;
    left: 50%;
    color: transparent;
    content: '.';
    text-shadow: 0 0 transparent;
    font-size: 1.7em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}

.navbar-nav a:hover:before,
.navbar-nav a:focus:before, .navbar-nav a.active:before {
    color: #fff;
    text-shadow: 10px 0 #ff6b4a, -10px 0 #ff6b4a;
}

.navbar-nav a:hover,
.navbar-nav a:focus {
    color: #ff6b4a;
}

.header-logo.navbar-brand {
    padding: 0;
}

.banner-title {
    position: relative;
}

.banner-title h3 {
    font-size: 2.5em;
    color: #fff;
    line-height: 1.3em;
}

.banner-title p {
    font-size: 1.2em;
    color: #fff;
    margin-top: 2em;
}

.management-content {
    min-height: 700px;
    overflow: auto;
}

.left-side {
    display: block;
    padding-top: 100px;
    float: left;
    width: 12%;
    position: fixed;
}

.right-content {
    display: block;
    float: right;
    width: 85%;
    margin-right: 20px;
    margin-top: 10px;
}

.left-block {
    background: #ff6100;
    color: #d1d1d1;
    font-size: 1.5em;
    line-height: 1.5em;
    width: 150px;

}

/* 左边导航 Main menu */

.menu {
    list-style: none;
    z-index: 10003;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    background: #52504b;
    color: #fff;
    padding: 6px 0px 4px 8px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 16px;
    z-index: 10003;
    position: relative;
    -webkit-transition: background 0.25s ease-out;
    -o-transition: background 0.25s ease-out;
    text-decoration: none;
}

.menu li a:hover, .menu li a:active {
    background: #ff6100;
    -webkit-transition: background 0.10s ease-in;
    -o-transition: background 0.10s ease-in;
}

.menu li {
    position: relative;
}

/*左边导航结束*/

/*右边内容区域*/
.right-content {
    color: #5e5e5e;
    overflow: auto;
}

.right-content h4 {
    padding-left: 15px;
}

#info-management {
    margin: 20px 0;
    margin-top: 10px;
    min-height: 300px;
    height: auto;
    background-color: #FFFFFF;
    overflow: auto;
}

#data-statistics {
    margin: 20px 0;
    min-height: 300px;
    background-color: #FFFFFF;
    overflow: auto;
    margin-top: 0;
}

#FAQ {
    margin: 20px 0;
    min-height: 300px;
    background-color: #FFFFFF;
    overflow: auto;
    margin-bottom: 70px;
}

/*右边内容区域结束*/

/*标题样式*/
h3.full-header {
    background: url(../images/full-header-line.png) repeat-x center left;
    color: #ff6100;
    font-weight: normal;
    font-size: 22px;
    margin: 10px 0;
    padding: 15px 40px;
}

.full-header span {
    background: #fff;
    padding: 0px 10px;
}

/*餐厅基本信息开始*/
.basic-info {
    padding: 10px 20px;
    display: table;
}

.info-item span {
    padding-right: 10px;
}

.info-item {
    display: table-cell;
    line-height: 34px;
    vertical-align: middle;
    padding: 0 10px;
}

.info-item select {
    width: 100px;
}

/*餐厅基本信息结束*/

.right-content .row {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

/*餐厅图文信息开始*/
.image-uploads {
    min-height: 150px;
    height: 100%;
    overflow: auto;
    margin-bottom: 10px;
}

#recommend-pic {
    display: block;
    float: left;
    width: 38%;
    /*height: 570px;*/
}

.handle-image {
    width: 100%;
    text-align: center;
}

#detail-pic {
    float: left;
    width: 60%;
}

.cropAreaRecommend {
    background: #E4E4E4;
    overflow: hidden;
    width: 318px;
    height: 429px;
    margin: 0 auto;
}

.cropAreaDetail {
    background: #E4E4E4;
    overflow: hidden;
    width: 640px;
    height: 420px;
    margin: 0 auto;
}

.image-upload {
    margin: 10px;
    overflow: auto;
}

.picDetailDescription {
    margin: 0 auto;
    margin-top: 10px;
    width: 640px;

}

.picRecommendDescription {
    margin: 0 auto;
    margin-top: 10px;
    width: 350px;
}

/*餐厅图文信息结束*/

/*预订信息*/
.reservation-content {
    width: 90%;
    /*min-height: 700px;*/
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 50px auto;
    background-color: #FFFFFF;
    overflow: auto;
    text-align: center;
    padding-bottom: 60px;
    /*margin-top: 90px;*/

}

.reservation-content th {
    text-align: center;
    background-color: #3c3c3c !important;
    color: white;
}

.reservation-content .btn {
    width: 120px;
}

.btn-order {
    background-color: #d58512;
}

.btn-sm {
    padding: 5px 3px;
}

/*预定信息表单升序和降序图标*/
.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

/*预定信息表单结束*/

/*上传图片样式开始*/
.file {
    position: relative;
    display: inline-block;
    background: #FF7F00;
    border: 1px solid #FF7256;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #FFFFFF;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.file-cancel {
    position: relative;
    display: inline-block;
    background: #3c3c3c;
    border: 1px solid #2e2e2e;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #FFFFFF;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    background: #ec971f;
    border-color: #d58512;
    color: #FFFFFF;
    text-decoration: none;
}

.file-cancel:hover {
    background: #8f8f8f;
    border-color: #3A3A3A;
    color: #FFFFFF;
    text-decoration: none;
}

/*上传图片结束*/

/*数据图表开始*/
.reservation-chart {
    min-height: 200px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/*数据图标结束*/

/*自动接单设置*/
.autoAccept {
    width: 100%;
    margin-bottom: 20px;
}

.autoAcceptConfig {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.explain {
    color: #d58512;
    font-size: 12px;
    font-weight: 500;
    /*padding-left: 20px;*/
}

.config-item {
    margin-bottom: 10px;
}

.config-input {
    width: 60px;
    margin: 0 10px;
    padding-left: 10px;
    height: 25px;
    border-radius: 2px;
}

/*自动接单设置结束*/

/*餐厅联系人开始*/
.contacts-infos {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 10px;
}

.contact-input {
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 5px;
    height: 30px;
    padding: 5px;
}

.contact {
    margin-top: 10px;
    color: #ff6100;
}

/*餐厅联系人结束*/

/*footer start*/

.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    margin-top: 80px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    clear: both;
    text-align: center;
    color: #FFF;
    background: #555;
    line-height: 50px;
    z-index: 1030;
}

html {
    height: 100%;
}

/*footer end*/

/*商户信息管理保存按钮*/
.save-btn {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

/*商户信息关系分隔符*/
.separator {
    border-bottom: dashed 1px;
    margin-bottom: 30px;
}

/*图文信息展示*/
.r-single {
    margin-top: 30px;
}

.r-active {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px #999;
}

.w-300 {
    position: relative;
}

.overflow-h {
    overflow: hidden;
}

.transform45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.smy {
    width: 155px;
    line-height: 20px;
    text-align: center;
    top: 23px;
    right: -40px;
    position: absolute;
}

.r-active p {
    display: block;
}

.r-single p {
    display: none;
}

.bg-t {
    background: rgba(9, 2, 1, 0.7);
}

.per100 {
    width: 100%;
}

.l-ht30 {
    line-height: 30px;
}

.display-ib {
    display: inline-block;
}

.font-white {
    color: white;
}

p {
    margin: 0 0 10px;
}

p {
    text-indent: 0;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 12px;
}

.bg-orange {
    background: #ff8500;
}

.font-white {
    color: white;
}

.tc {
    text-align: center;
}

.per100 {
    width: 100%;
}

.bottom20 {
    bottom: 20px;
}

.pos-a, .absolute {
    position: absolute;
}

.mt16 {
    margin-top: 16px !important;
}

.font-c-8f {
    color: #8f8f8f;
}

.font-c-40 {
    color: #404040;
}

.text-d-lt {
    text-decoration: line-through;
}

.ml5 {
    margin-left: 5px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.fl {
    float: left;
}

ul li, ol li {
    line-height: 1.42857;
    color: #333333;
    font-size: 12px;
}

.pos-r {
    position: relative;
}

.font-c-f8 {
    color: #ff8500;
}

.ml10 {
    margin-left: 10px !important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.pr10 {
    padding-right: 10px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.ht70 {
    height: 70px;
}

.overflow-h {
    overflow: hidden;
}

.pos-r, .relative {
    position: relative;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.border-r-5 {
    border-radius: 5px;
}

.pl10 {
    padding-left: 10px !important;
}

.padding {
    padding: 10px;
}

.small-pic {
    width: 66px;
    height: 53px;
}

.per90 {
    width: 90%;
}

.l-ht40 {
    line-height: 40px;
}

.ht40 {
    height: 40px;
}

.display-ib {
    display: inline-block;
}

.mb16 {
    margin-bottom: 16px !important;
}

.border {
    border: 1px solid #ccc;
}

.pl5 {
    padding-left: 5px !important;
}

.pr5 {
    padding-right: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.l-ht20 {
    line-height: 20px;
}

.ht20 {
    height: 20px;
}

.display-ib {
    display: inline-block;
}

/*图文信息展示结束*/

/*修改密码*/
.changePwd {
    width: 90%;
    /*text-align: center;*/
    margin: 0 auto;
}

.pwd-input {
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    height: 30px;
    padding: 5px;

}

.question {
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 5px;
}

.answer {
    margin: 0 20px;
    margin-bottom: 10px;
}