<!--餐厅基本信息开始-->
<div id="basic-info" class="separator" ng-controller="BasicInfoCtrl">
    <h4>餐厅基本信息</h4>
    <table class="table table-bordered" style="width: 95%; margin: 0px auto">
        <tr>
            <td width="10%">
                餐厅所在地
                <select class="form-control" ng-model="restaurantInfo.city">
                    <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
                </select>
            </td>
            <td width="35%">
                <span>酒店名称</span>
                <input type="text" class="form-control" ng-model="basicInfo.hotelName" disabled></td>
            <td width="30%">
                <span>餐厅名称</span>
                <input type="text" class="form-control" ng-model="basicInfo.restaurantName"></td>
            <td>
                餐厅类型
                <select class="form-control" ng-model="basicInfo.restaurantType">
                    <option ng-repeat="product in products" value="{{product.name}}">{{product.name}}</option>
                </select>
            </td>
        </tr>
    </table>

    <table class="table table-bordered" style="width: 95%; margin: 0px auto;">
        <tr>
            <td>
                优惠类型
                <select class="form-control" ng-model="basicInfo.discountType[0]">
                    <option value="discount">三免一</option>
                    <option value="none">暂无</option>
                </select>
            </td>
            <td width="25%">
                午餐价格<span class="explain" style="padding-left: 10px"><i>请包含服务费</i></span>
                <input class="form-control" type="text" ng-model="basicInfo.noonPrice">
            </td>
            <td width="25%">
                晚餐价格<span class="explain" style="padding-left: 10px"><i>请包含服务费</i></span>
                <input class="form-control" type="text" ng-model="basicInfo.nightPrice">
            </td>
            <td>
                免费泊车
                <select class="form-control" ng-model="basicInfo.park">
                    <option value="无停车位">无停车位</option>
                    <option value="停车收费">停车收费</option>
                    <option value="免费停车">免费停车</option>
                </select>
            </td>
        </tr>
    </table>
    <table class="table table-bordered" style="width: 95%; margin: 0px auto;margin-bottom: 20px">
        <tr>
            <td colspan="3">
                餐厅详细地址<span class="explain" style="padding-left: 10px"><i>如需修改请联系销售人员</i></span>
                <input type="text" class="form-control" placeholder="城市不用重复填写"
                       ng-model="basicInfo.restaurantAddress" disabled/>
            </td>

            <td>餐厅电话<span class="explain" style="padding-left: 10px"><i>若有多个电话号码,用一个空格分开</i></span>
                <input type="tel" class="form-control" ng-model="basicInfo.restaurantTele">
            </td>
            <td colspan="2">
                营业时间<span class="explain" style="padding-left: 10px"><i>格式:
                11:30-14:30,17:30-22:00</i></span>
                <input type="text" class="form-control" ng-model="basicInfo.restaurantOpenTime">
            </td>
        </tr>

    </table>

    <div class="save-btn">
        <button class="btn btn-warning" ng-click="saveBasicInfo()"><span
                class="glyphicon glyphicon-ok"></span>保存餐厅基本信息
        </button>
    </div>
</div>