<div class="contacts-infos">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>餐厅联系人设置</legend>
    </fieldset>

    <div style="color: #F60; margin-bottom: 10px;"><small>电话支持手机号以及直线固话，固话需加上区号，中间不需分隔符分隔（例：02134780557）</small></div>

    <div class="layui-form-item">
    <h1 style=" font-weight:bold; margin-left:10px;">联系人1</h1>
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <input type="text" class="layui-input" ng-model="contact[0].linkmanName" style="width: 100px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">电话</label>
            <input type="text" placeholder="例：02134780557" class="layui-input" ng-model="contact[0].linkmanPhone" style="width: 140px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">邮件</label>
            <input type="text" class="layui-input" ng-model="contact[0].linkmanEmail" style="width: 150px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">职位</label>
            <input type="text" class="layui-input" ng-model="contact[0].position" style="width: 80px">
        </div>
        <input type="radio" name="contact0" ng-model="selectContact" value="0">预定信息优先通知
    </div>

    <div class="layui-form-item">
    <h1 style=" font-weight:bold; margin-left:10px;">联系人2</h1>
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <input type="text" class="layui-input" ng-model="contact[1].linkmanName" style="width: 100px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">电话</label>
            <input type="text" placeholder="例：02134780557" class="layui-input" ng-model="contact[1].linkmanPhone" style="width: 140px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">邮件</label>
            <input type="text" class="layui-input" ng-model="contact[1].linkmanEmail" style="width: 150px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">职位</label>
            <input type="text" class="layui-input" ng-model="contact[1].position" style="width: 80px">
        </div>
        <input type="radio" name="contact0" ng-model="selectContact" value="1">预定信息优先通知
    </div>

    <div class="layui-form-item">
    <h1 style=" font-weight:bold; margin-left:10px;">联系人3</h1>
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <input type="text" class="layui-input" ng-model="contact[2].linkmanName" style="width: 100px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">电话</label>
            <input type="text" placeholder="例：02134780557" class="layui-input" ng-model="contact[2].linkmanPhone" style="width: 140px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">邮件</label>
            <input type="text" class="layui-input" ng-model="contact[2].linkmanEmail" style="width: 150px">
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">职位</label>
            <input type="text" class="layui-input" ng-model="contact[2].position" style="width: 80px">
        </div>
        <input type="radio" name="contact0" ng-model="selectContact" value="2">预定信息优先通知
    </div>
</div>
<div class="save-btn">
    <button class="layui-btn" ng-click="updateContactInfo()"><span
            class="glyphicon glyphicon-ok"></span>保存餐厅联系人设置
    </button>
</div>