<div class="management-content">
    <!-- BEGIN .left-side -->
    <div class="left-side">

        <!-- BEGIN .left-block -->
        <div class="left-block">

            <!-- BEGIN .menu -->
            <ul class="menu nav nav-divider">
                <li ng-click="goto('reservation-table')"><span class="sidebar-span">预订信息</span></li>
                <li ng-click="goto('data-statistics')"><span class="sidebar-span">预订数据统计</span></li>
                <li ng-click="goto('info-management')"><span class="sidebar-span">商户信息管理</span></li>
                <li ng-click="goto('faq')"><span class="sidebar-span">客服 FAQ</span></li>
                <!-- END .menu -->
            </ul>
            <!-- END .left-block -->
        </div>

        <script type="text/javascript">
            $(function () {
                $('.sidebar-span').click(function () {
                    $('.sidebar-span').each(function () {
                        $(this).removeClass('orange-sidebar');
                    });

                    $(this).addClass('orange-sidebar');

                });
            });
        </script>
        <!-- END .left-side -->
    </div>

    <div class="right-content">

        <!--Reservation table begin-->
        <div id="reservation-table" ng-controller="ReservationCtrl" class="right-bg">
            <h3 class="full-header"><span>预订信息</span></h3>

            <div ng-include="'../view_reservation/reservation.html'"></div>
        </div>
        <!--Reservation table end-->


        <!--Data statistic chart begin-->
        <div id="data-statistics" ng-controller="ChartCtrl" class="right-bg">
            <h3 class="full-header"><span>预订数据统计</span></h3>

            <div ng-include="'view_management/data-statistics.html'"></div>

        </div>

        <!--Data statistic chart end-->


        <div id="info-management" class="right-bg">
            <h3 class="full-header"><span>商户信息管理</span></h3>

            <div ng-include="'view_management/basic-info.html'"></div>

            <!--餐厅基本信息结束-->

            <!--餐厅图文上传开始-->
            <div class="image-uploads separator" class="right-bg">
                <h4>餐厅图文信息<span style="padding-left: 40px"></span></h4>

                <div ng-include="'view_management/pictureInfo.html'"></div>
            </div>
            <!--餐厅图文上传结束-->

            <!--自动接单设置开始-->
            <div class="autoAccept separator" ng-controller="PersistInfoCtrl">
                <h4>自动接单设置</h4>

                <div ng-include="'view_management/auto-accept.html'"></div>
            </div>
            <!--自动接单设置结束-->

            <!--餐厅联系人设置开始-->
            <div class="contacts separator" ng-controller="ContactCtrl">
                <h4>餐厅联系人设置 <span class="explain"
                                  style="padding-left: 20px;"><i>至少两位联系人,请填写有效联系方式,否则系统无法正常传递预定信息</i></span>
                </h4>

                <div ng-include="'view_management/link-man.html'"></div>
            </div>
            <!--餐厅联系人设置结束-->
            <!--餐厅登录密码修改开始-->
            <div ng-controller="PwdCtrl">
                <h4>登录密码修改</h4>

                <div ng-include="'view_management/update-pwd.html'"></div>

            </div>
            <!--餐厅登录密码修改结束-->

        </div>

        <div id="faq" class="right-bg">
            <h3 class="full-header"><span>客服FAQ</span></h3>

            <p class="question"> 1. 为什么订单来了会有自动接单和人工接单2种方式？</p>

            <p class="answer">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为了餐厅员工使用便利，商户后台会默认先根据餐厅预设的空闲的桌数进行自动接单。但当预订量超过餐厅空闲的桌数时，后台会自动转为人工接单。人工接单情况下，新订单信息会同时推送到餐厅联系人，进行人工确认。</p>

            <p class="question"> 2. 后台里填写的人均价格是优惠前还是优惠后？是否要包含服务费?</p>

            <p class="answer"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请在后台填写优惠前的价格，包含服务费</p>

            <p class="question">3. 如何识别最美食会员的身份？</p>

            <p class="answer">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最美食的每条预订信息都有唯一的订单号。最美食会员前来就餐时，可要求会员出示其手机上的会员和订单信息核对。结算时，请按照商户后台显示的折扣总金额与用户结算。结算后，需在预定管理页面中，点击完成该订单。</p>

            <p class="question" style="margin-bottom: 25px">4. 其他疑问，请联系客服.</p>

        </div>
    </div>
</div>
<script type="text/ng-template" id="homePic.html">
    <!--餐厅介绍开始-->
    <div class="w-300 r-active">
        <div class="pos-r overflow-h">
            <img ng-src="{{restaurantInfo.homePagePic}}" class="img-responsive">

            <div class="pos-a font-white bg-orange transform45 smy" ng-show="discount">三免一</div>
            <div class="pos-a tc per100 bottom20">
                <p class="bg-t display-ib per100 l-ht30 font-white">{{description}}</p>
            </div>
        </div>
        <div class="introduce">
            <p class="tc mt16"><b class="font16">{{restaurantInfo.restaurantName}}</b><i class="font-c-f8 ml10">hot</i>
            </p>

            <p>
                <span class="font-c-8f">每位：</span>
                <span class="font-c-40">￥{{restaurantInfo.averagePrice}}（含15%服务费）</span>
            </p>

            <p>
                <span class="font-c-8f">地址 ：</span>
                <span class="font-c-40">{{restaurantInfo.restaurantAddress}}</span>
            </p>

            <p>
                <span class="font-c-8f">电话 ：</span>
                        <span class="font-c-40"><span ng-repeat=" tel in restaurantInfo.restaurantTeles">
                            <a class="font-c-40" href="tel:{{tel}}">{{tel}}</a></span> </span>
            </p>

        </div>
    </div>
    <!--餐厅介绍结束-->
</script>


