<div class="reservation-content">
    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped"
           style="font-size: 12px">
        <thead>
        <tr>
            <th>订单号</th>
            <th>订单状态</th>
            <th st-sort="orderDate" st-sort-default="reverse">预定时间</th>
            <th>就餐时间</th>
            <th>预订人信息</th>
            <th>预定人数</th>
            <th>订单总金额</th>
            <th>用户备注</th>
            <th>操作</th>
        </tr>
        <tr>
            <th colspan="1"><input st-search="orderId" class="form-control search-input" placeholder="订单号" type="text"/>
            </th>
            <th colspan="1"><input st-search="state" class="form-control search-input" placeholder="订单状态" type="text"/>
            </th>
            <th colspan="1"><input st-search="orderDate" class="form-control search-input" placeholder="XXXX-XX-XX"
                                   type="text"/>
            </th>
            <th colspan="1"><input st-search="orderTimer" class="form-control search-input" placeholder="XX:XX"
                                   type="text"/></th>
            <th colspan="1"><input st-search="phoneId" class="form-control search-input" placeholder="手机号" type="text"/>
            </th>
            <th colspan="4"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td width="10%">{{row.orderId}}</td>
            <td width="10%" ng-if="row.state == '已订座'" class="incomplete">{{row.state}}</td>
            <td width="10%" ng-if="row.state == '已就餐'">{{row.state}}</td>
            <td width="10%" ng-if="row.state == '已拒绝'">{{row.state}}</td>
            <td width="10%">{{row.orderDate}}</td>
            <td width="10%">{{row.orderTimer}}</td>
            <td>{{row.userLastName}}{{row.userFirstName}},{{row.gender}},{{row.phoneId}},{{row.userVipLevel}}</td>
            <td width="10%">{{row.dinerNum}}</td>
            <td width="10%">{{row.dorderSum}}</td>
            <td>{{row.more}}</td>
            <td>
                <button ng-show="!row.orderHandled" type="button" ng-click="completeOrder(row)"
                        class="btn btn-sm btn-warning">
                    <i class="glyphicon glyphicon-check">
                    </i>
                    完成该订单
                </button>
                <button ng-show="row.orderHandled" type="button" class="btn btn-sm" disabled>
                    <i class="glyphicon glyphicon-ok">
                    </i>
                    订单已完成
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"
                ></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<script type="text/ng-template" id="custom_template.html">
    <div class="ui-notification warning custom-template">
        <div class="message" ng-bind-html="message" style="font-size: 20px;text-align: center">
        </div>
        <div class="message">
            <table class="table">
                <tr>
                    <td> 用户姓名</td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td> 用户手机号</td>
                    <td>{{phone}}</td>
                </tr>
                <tr>
                    <td>用户会员等级</td>
                    <td>{{level}}</td>
                </tr>
                <tr>
                    <td>预定日期</td>
                    <td>{{date}}</td>
                </tr>
                <tr>
                    <td>就餐时间</td>
                    <td>{{time}}</td>
                </tr>
                <tr>
                    <td>人数</td>
                    <td>{{peopleNum}}</td>
                </tr>
                <tr>
                    <td>订单总金额</td>
                    <td>{{money}}</td>
                </tr>
                <tr>
                    <td>用户备注</td>
                    <td>{{remark}}</td>
                </tr>
            </table>
        </div>
        <div class="message">
            <a class="btn btn-lg btn-accept btn-notification" ng-click="accept()">确定接单</a>
        </div>
        <div class="message" style="float: right">
            <a class="btn btn-small btn-warning " ng-click="showConfirm()">无法接单</a>
        </div>
    </div>
</script>


<script type="text/ng-template" id="warning_message.html">
    <h1>提醒</h1>
    <p>如无法接单,请立即与客人取得联系,说明原因并建议新的预约时间.</p>
    <button class="btn-warning" ng-click="closeThisDialog()">返回再次查看订单信息</button>
    <button ng-click="cancel()">联系过了,确认取消订单</button>
</script>