<!--div class="config-item">
    <span class="hint">说明：须为预订顾客保留就餐位，若顾客迟到，请保留其就餐位15分钟，若顾客超时未到请与顾客电话沟通
</div>

 <div class="btn-group" role="group">
    <button class="btn btn-primary" style="margin-left: 30px" ng-click="allOrder()">
        <span class="glyphicon glyphicon-th-list"></span>所有订单
    </button>
    <button class="btn btn-primary" ng-click="todayOrder()">
        <span class="glyphicon glyphicon-th-list"></span>今日订单
    </button>
    <button class="btn btn-primary" ng-click="handleOrder()">
        <span class="glyphicon glyphicon-th-list"></span>待处理订单
    </button>
        
</div>
<div style="border-bottom: dotted 1px; width: 100%; margin: 15px 0px"></div-->

<div class="admin-main">
    <fieldset class="layui-elem-field">
        <legend>预订信息</legend>

    <!--blockquote class="layui-elem-quote">
        <a href="javascript:;" class="layui-btn layui-btn-small" ng-click="allOrder()">
            <i class="layui-icon">&#xe615;</i> 所有订单
        </a>
        <a href="javascript:;" class="layui-btn layui-btn-small" ng-click="allOrder()">
            <i class="layui-icon">&#xe615;</i> 今日订单
        </a>
        <a href="javascript:;" class="layui-btn layui-btn-small" ng-click="handleOrder()">
            <i class="layui-icon">&#xe615;</i> 待处理订单
        </a>
    </blockquote-->

<div class="layui-field-box">
    <table st-table="displayedCollection" st-safe-src="rowCollection" class="site-table table-hover" style="font-size: 12px">
        <thead>
        <tr>
            <th width="8%">订单号</th>
            <th width="10%">产品名</th>
            <th width="9%">订单状态</th>
            <th width="10%" st-sort="orderDate" st-sort-default="reverse">预定时间</th>
            <th width="8%">就餐时间</th>
            <th width="22%">预订人信息</th>
            <th width="7%">预定份数</th>
            <th width="8%">订单总金额</th>
            <th width="6%">用户备注</th>
            <th width="4%">来源</th>
            <th width="8%">操作</th>
        </tr>
        <tr>
            <th colspan="1"><input st-search="orderId" class="form-control search-input" placeholder="订单号" type="text"/>
            </th>
            <th colspan="1"><input st-search="productName" class="form-control search-input" placeholder="产品名" type="text"/>
            </th>
            <th colspan="1"><input st-search="state" class="form-control search-input" placeholder="订单状态" type="text"/>
            </th>
            <th colspan="1"><input st-search="orderDate" class="form-control search-input" placeholder="XXXX-XX-XX"
                                   type="text"/>
            </th>
            <th colspan="1"><input st-search="orderTimer" class="form-control search-input" placeholder="XX:XX"
                                   type="text"/></th>
            <th colspan="1"><input st-search="phoneId" class="form-control search-input" placeholder="手机号" type="text"/>
            </th>
            <th colspan="5"></th>
        </tr-->
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{row.orderId}}</td>
            <td>{{row.productName}}</td>
            <td ng-if="row.state == '已订座'" class="incomplete">{{row.state}}</td>
            <td ng-if="row.state == '已就餐'">{{row.state}}</td>
            <td ng-if="row.state == '已拒绝'">{{row.state}}</td>
            <td ng-if="row.state == '已取消'">{{row.state}}</td>
            <td>{{row.orderDate}}</td>
            <td>{{row.orderTimer}}</td>
            <td>{{row.userLastName}}{{row.userFirstName}},{{row.gender}},{{row.phoneId}},{{row.userVipLevel}}</td>
            <td>{{row.dinerNum}}</td>
            <td>{{row.dorderSum}}</td>
            <td>{{row.more}}</td>
            <td>{{row.source}}</td>
            <td>
                <button ng-show="!row.orderHandled && !row.isDidi" type="button" ng-click="completeOrder(row)"
                        class="layui-btn">
                    <i class="glyphicon glyphicon-check">
                    </i>
                    确认已就餐
                </button>
                <button ng-show="!row.orderHandled && row.isDidi" type="button" ng-click="completeDidiOrder(row)"
                        class="layui-btn">
                      <i class="glyphicon glyphicon-check">
                      </i>
                      核销
                </button>
                <button ng-show="row.orderHandled" type="button" class="layui-btn layui-btn-primary" disabled>
                    <i class="glyphicon glyphicon-ok">
                    </i>
                    订单已完成
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"
                ></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<!--div class="layui-field-box" ng-show="showMode==1">
    <table st-table="displayedCollection" st-safe-src="todayCollection" class="site-table table-hover" style="font-size: 12px">
        <thead>
        <tr>
            <th width="8%">订单号</th>
            <th width="10%">产品名</th>
            <th width="9%">订单状态</th>
            <th width="10%" st-sort="orderDate" st-sort-default="reverse">预定时间</th>
            <th width="8%">就餐时间</th>
            <th width="22%">预订人信息</th>
            <th width="7%">预定份数</th>
            <th width="8%">订单总金额</th>
            <th width="6%">用户备注</th>
            <th width="4%">来源</th>
            <th width="8%">操作</th>
        </tr>
        <tr>
            <th colspan="1"><input st-search="orderId" class="form-control search-input" placeholder="订单号" type="text"/>
            </th>
            <th colspan="1"><input st-search="productName" class="form-control search-input" placeholder="产品名" type="text"/>
            </th>
            <th colspan="1"><input st-search="state" class="form-control search-input" placeholder="订单状态" type="text"/>
            </th>
            <th colspan="1"><input st-search="orderDate" class="form-control search-input" placeholder="XXXX-XX-XX"
                                   type="text"/>
            </th>
            <th colspan="1"><input st-search="orderTimer" class="form-control search-input" placeholder="XX:XX"
                                   type="text"/></th>
            <th colspan="1"><input st-search="phoneId" class="form-control search-input" placeholder="手机号" type="text"/>
            </th>
            <th colspan="5"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in todayCollection">
            <td>{{row.orderId}}</td>
            <td>{{row.productName}}</td>
            <td ng-if="row.state == '已订座'" class="incomplete">{{row.state}}</td>
            <td ng-if="row.state == '已就餐'">{{row.state}}</td>
            <td ng-if="row.state == '已拒绝'">{{row.state}}</td>
            <td ng-if="row.state == '已取消'">{{row.state}}</td>
            <td>{{row.orderDate}}</td>
            <td>{{row.orderTimer}}</td>
            <td>{{row.userLastName}}{{row.userFirstName}},{{row.gender}},{{row.phoneId}},{{row.userVipLevel}}</td>
            <td>{{row.dinerNum}}</td>
            <td>{{row.dorderSum}}</td>
            <td>{{row.more}}</td>
            <td>{{row.source}}</td>
            <td>
                <button ng-show="!row.orderHandled && !row.isDidi" type="button" ng-click="completeOrder(row)"
                        class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-check">
                    </i>
                    确认已就餐
                </button>
                <button ng-show="!row.orderHandled && row.isDidi" type="button" ng-click="completeDidiOrder(row)"
                        class="btn btn-sm btn-primary">
                      <i class="glyphicon glyphicon-check">
                      </i>
                      核销
                </button>
                <button ng-show="row.orderHandled" type="button" class="btn btn-sm" disabled>
                    <i class="glyphicon glyphicon-ok">
                    </i>
                    订单已完成
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"
                ></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<div class="layui-field-box" ng-show="showMode==2">
    <table st-table="displayedCollection" st-safe-src="handleCollection" class="site-table table-hover" style="font-size: 12px">
        <thead>
        <tr>
            <th width="8%">订单号</th>
            <th width="10%">产品名</th>
            <th width="9%">订单状态</th>
            <th width="10%" st-sort="orderDate" st-sort-default="reverse">预定时间</th>
            <th width="8%">就餐时间</th>
            <th width="22%">预订人信息</th>
            <th width="7%">预定份数</th>
            <th width="8%">订单总金额</th>
            <th width="6%">用户备注</th>
            <th width="4%">来源</th>
            <th width="8%">操作</th>
        </tr>
        <tr>
            <th colspan="1"><input st-search="orderId" class="form-control search-input" placeholder="订单号" type="text"/>
            </th>
            <th colspan="1"><input st-search="productName" class="form-control search-input" placeholder="产品名" type="text"/>
            </th>
            <th colspan="1"><input st-search="state" class="form-control search-input" placeholder="订单状态" type="text"/>
            </th>
            <th colspan="1"><input st-search="orderDate" class="form-control search-input" placeholder="XXXX-XX-XX"
                                   type="text"/>
            </th>
            <th colspan="1"><input st-search="orderTimer" class="form-control search-input" placeholder="XX:XX"
                                   type="text"/></th>
            <th colspan="1"><input st-search="phoneId" class="form-control search-input" placeholder="手机号" type="text"/>
            </th>
            <th colspan="5"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in handleCollection">
            <td>{{row.orderId}}</td>
            <td>{{row.productName}}</td>
            <td ng-if="row.state == '已订座'" class="incomplete">{{row.state}}</td>
            <td ng-if="row.state == '已就餐'">{{row.state}}</td>
            <td ng-if="row.state == '已拒绝'">{{row.state}}</td>
            <td ng-if="row.state == '已取消'">{{row.state}}</td>
            <td>{{row.orderDate}}</td>
            <td>{{row.orderTimer}}</td>
            <td>{{row.userLastName}}{{row.userFirstName}},{{row.gender}},{{row.phoneId}},{{row.userVipLevel}}</td>
            <td>{{row.dinerNum}}</td>
            <td>{{row.dorderSum}}</td>
            <td>{{row.more}}</td>
            <td>{{row.source}}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div-->
</fieldset>
</div>

<script type="text/ng-template" id="custom_template.html">
    <div class="ui-notification warning custom-template">
        <div class="message" ng-bind-html="message" style="font-size: 20px;text-align: center">
        </div>
        <div class="message">
            <table class="table">
                <tr>
                    <td> 用户姓名</td>
                    <td>{{name}}</td>
                </tr>
                <tr>
                    <td> 用户手机号</td>
                    <td>{{phone}}</td>
                </tr>
                <tr>
                    <td>用户会员等级</td>
                    <td>{{level}}</td>
                </tr>
                <tr>
                    <td>预定日期</td>
                    <td>{{date}}</td>
                </tr>
                <tr>
                    <td>就餐时间</td>
                    <td>{{time}}</td>
                </tr>
                <tr>
                    <td>人数</td>
                    <td>{{peopleNum}}</td>
                </tr>
                <tr>
                    <td>订单总金额</td>
                    <td>{{money}}</td>
                </tr>
                <tr>
                    <td>用户备注</td>
                    <td>{{remark}}</td>
                </tr>
            </table>
        </div>
        <div class="message">
            <a class="btn btn-lg btn-accept btn-notification" ng-click="accept()">确定接单</a>
        </div>
        <div class="message" style="float: right">
            <a class="btn btn-small btn-primary " ng-click="showConfirm()">无法接单</a>
        </div>
    </div>
</script>


<script type="text/ng-template" id="warning_message.html">
    <h1>提醒</h1>
    <p>如无法接单,请立即与客人取得联系,说明原因并建议新的预约时间.</p>
    <button class="btn-primary" ng-click="closeThisDialog()">返回再次查看订单信息</button>
    <button ng-click="cancel()">联系过了,确认取消订单</button>
</script>

<script type="text/ng-template" id="complete_didi_order.html">
    <p>请输入核销码</p>
    <input type="number" id = "couponCode"></input>
    <div class="message" style="float: right">
        <a class="btn btn-small btn-primary" ng-click = confirm()>确认核销</a>
    </div>
</script>
